


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  /* Shared style */
  .secondery-bg{
    background-color:#FFF8F3;
  }

  .text-primary{
    color: #FD6E0A;
  }

.text-center{
    text-align: center;
} 


  /* header */
  .header{
    background-image: url(../images/developer.png),url(../images/header_bg.png); 
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

/* Nav Styles */

.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    color:white ;
    background-color: #FD6E0A;
    padding: 18px 35px;
    font: size 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.section-description{
    font-size: 18px;
    color: #757575;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 200px; */
    padding: 50px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-content{
    max-width: 580px;
    
}
nav li a{
    text-decoration: none;
}
/* banner styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-profile-pic{
    width: 580px;
}

/* main style */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 800;
   

}

/* skills section */
.skills-containar{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.skills{
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.25);
}

/* resume section style */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}

.resume-container{
    display: flex;
    gap: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-sub-title{
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
    font-weight:600;
    margin-bottom: 20px;
}
.experience-description{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
}

/* Footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"] ,footer input[type="email"],footer textarea{
    height: 65px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}